{% extends "base.html" %}
{% block content %}

<div class="container my-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4>📡 Mapa dinámico de antenas 4G y 5G</h4>
        </div>
        <div class="card-body">
            <p>El tamaño del círculo representa la capacidad de la antena. El pulso indica actividad.</p>
            <div style="height: 600px;">
                {% include "mapa_antenas_content.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


